if SHIELD_COOL936TB2_R

config ZMK_KEYBOARD_NAME
    default "cool936tb2_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COOL936TB2_L

config ZMK_KEYBOARD_NAME
    default "cool936tb2_L"

config ZMK_SPLIT
    default y

endif
